{% extends "base_with_logout.html" %}

{% block logo %}
<a href="/">
	<img src="{{ url_for('static', filename='resources/images/admin.png') }}" style="height: 100%; max-height: 40px">
</a>
{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div style="width: 100%">
	<table class="table">
		<tbody>
			<tr>
				<td style="text-align: center">
					<h3>Create new account</h3>
					<form method="post" enctype="multipart/form-data" style="margin-top: 15px;">
						<label for="username">Username</label>
				      	<input type="text" name="username"><br>
				      	<label for="password">Password</label>
				      	<input type="password" name="password"><br>
				      	<label for="group">Group</label>
				      	<select id="select_group" name="group" onchange="checkIfShowMap()">
						  <option value="moderator">Moderator</option>
						  <option value="authority">Authority</option>
						  <option value="admin">Admin</option>
						</select><br>
						<div id="map"></div>
				      	<input id="bounding_box" type="text" name="bounding_box" style="visibility: hidden"><br>
				      	<input class="btn btn-primary" type="submit" name="action" value="Create">
				    </form>
				</td>

				<td style="text-align: center; margin-top: 15px">
					<h3>Admins</h3>
					<ul style="margin-top: 15px">
						{% for admin in admins %}
							<li>
								<p>{{ admin }}  <a class="btn btn-danger" href="admin_dashboard/delete_account/{{ admin }}">delete</a></p>
							</li>
						{% endfor %}
					</ul>
				</td>

				<td style="text-align: center; margin-top: 15px">
					<h3>Moderators</h3>
					<ul style="margin-top: 15px">
						{% for moderator in moderators %}
							<li>
								<p>{{ moderator }}  <a class="btn btn-danger" href="admin_dashboard/delete_account/{{ moderator }}">delete</a></p>
							</li>
						{% endfor %}
					</ul>
				</td>

				<td style="text-align: center; margin-top: 15px">
					<h3>Authorities</h3>
					<ul style="margin-top: 15px">
						{% for authority in authorities %}
							<li>
								<p>{{ authority }}  <a class="btn btn-danger" href="admin_dashboard/delete_account/{{ authority }}">delete</a></p>
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script src="{{ url_for('static', filename='resources/js/admin.js') }}"></script>

{% endblock %}