{% extends "base_with_logout.html" %}

{% block logo %}
<a href="/">
	<img src="{{ url_for('static', filename='resources/images/authority.png') }}" style="height: 100%; max-height: 40px">
</a>
{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename='resources/js/config.js') }}"></script>
{% endblock %}


{% block content %}

<div style="width: 100%">
	<table class="table">
		<tbody>
			<tr>
				<td style="text-align: center; align-items: center">
					<h3>Map</h3>
					<div id="map" style="width: 100vh; height: 80vh; min-width: 600px"></div>
				</td>

				<td style="text-align: center; align-items: center">
					<h3>New locations</h3>
					<div id="locations" style="max-height: 80vh; overflow-x: hidden; overflow-x: scroll;"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script src="{{ url_for('static', filename='resources/js/authority.js') }}"></script>

{% endblock %}