<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/css/styles.css') }}"/>
    {% block head %} {% endblock %}
</head>
<body class="flex-column" style="padding:0">
    <header class="flex-header" style="padding: 1rem 2rem; box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);">
        <div class="wrapper">
        	{% block logo %} {% endblock %}
        </div>
        <div class="flex-header">
        	<div class="flex-item">
        		{% block logout %} {% endblock %}
        	</div>
        </div>
    </header>
    
    {% block content %} {% endblock %}

</body>
