{% extends "base.html" %}

{% block logo %}
<a href="/">
	<img src="{{ url_for('static', filename='resources/images/logo_horizontal.png') }}" style="height: 100%; max-height: 32px">
</a>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block content %}
	<form method="post" enctype="multipart/form-data" style="margin: 20px">
		<label for="login">Username</label>
      	<input type="text" name="username"><br>
      	<label for="login">Password  </label>
      	<input type="password" name="password"><br>
      	<input class="btn btn-primary" type="submit" value="login">
      	<input name="next" type="hidden" value="{{ next }}">
    </form>
{% endblock %}