{% extends "base_with_logout.html" %}

{% block logout %} 
<button class="btn btn-primary" onclick="refreshLocations()">Refresh</button>
<button class="btn btn-dark" onclick="location.href = '/logout';">Logout</button>	

{% endblock %}


{% block logo %}
<a href="/">
	<img src="{{ url_for('static', filename='resources/images/moderator.png') }}" style="height: 100%; max-height: 40px">
</a>
{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='resources/js/moderator.js') }}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename='resources/js/config.js') }}"></script>
{% endblock %}

{% block content %}
<div style="width: 100%">
	<table class="table">
		<tbody>
			<tr>
				<td style="text-align: center">
					<h3>AI-precheck passed</h3>
					<div class="container" id="ai-passed" style="max-height: 80vh; overflow-x: hidden; overflow-x: scroll;"></div>
				</td>

				<td style="text-align: center">
					<h3>AI-precheck failed</h3>
					<div class="container" id="ai-not-passed" style="max-height: 80vh; overflow-x: hidden; overflow-x: scroll"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>


{% endblock %}